# FastAPI framework
fastapi==0.115.0
uvicorn[standard]==0.30.1

# Database ORM & Migration
SQLAlchemy==2.0.36
alembic==1.13.2

# Environment config
python-dotenv==1.0.1

# Excel & data handling
pandas==2.2.3
openpyxl==3.1.5

# Schema & validation
pydantic==2.9.2

# Utilities
typing-extensions==4.12.2

# Optional (kalau nanti butuh autentikasi JWT)
# python-jose==3.3.0
# passlib[bcrypt]==1.7.4
